body{

    min-height: 100vh;
    background-color:#f7f7f7;
}

.content-inicio{

    margin-top:50px;
    padding:20px 10px;
}
.text-info{

    font-size:16px;
    color:#222 !important;
}

th{

    font-size: 14px;
}
.separator{
    padding:2px;
}

label.error{

    font-size:12px;
    color:red;
    padding-left:5px;
}